soap-wsdl/MovieService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.movie/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="MovieServiceService" targetNamespace="http://ws.movie/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.movie/" elementFormDefault="unqualified" targetNamespace="http://ws.movie/" version="1.0">

  <xs:element name="getMovies" type="tns:getMovies"/>

  <xs:element name="getMoviesResponse" type="tns:getMoviesResponse"/>

  <xs:element name="movie" type="tns:movie"/>

  <xs:element name="searchMovies" type="tns:searchMovies"/>

  <xs:element name="searchMoviesResponse" type="tns:searchMoviesResponse"/>

  <xs:complexType name="getMovies">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getMoviesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:movie"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="movie">
    <xs:sequence>
      <xs:element minOccurs="0" name="duration" type="xs:int"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="year" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="searchMovies">
    <xs:sequence>
      <xs:element minOccurs="0" name="partTitle" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:int"/>
      <xs:element minOccurs="0" name="arg2" type="xs:int"/>
      <xs:element minOccurs="0" name="arg3" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="searchMoviesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:movie"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="searchMoviesResponse">
    <wsdl:part element="tns:searchMoviesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMoviesResponse">
    <wsdl:part element="tns:getMoviesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMovies">
    <wsdl:part element="tns:getMovies" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchMovies">
    <wsdl:part element="tns:searchMovies" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IMovieService">
    <wsdl:operation name="getMovies">
      <wsdl:input message="tns:getMovies" name="getMovies">
    </wsdl:input>
      <wsdl:output message="tns:getMoviesResponse" name="getMoviesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchMovies">
      <wsdl:input message="tns:searchMovies" name="searchMovies">
    </wsdl:input>
      <wsdl:output message="tns:searchMoviesResponse" name="searchMoviesResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MovieServiceServiceSoapBinding" type="tns:IMovieService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getMovies">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getMovies">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMoviesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchMovies">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="searchMovies">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchMoviesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MovieServiceService">
    <wsdl:port binding="tns:MovieServiceServiceSoapBinding" name="MovieServicePort">
      <soap:address location="http://localhost:8080/moviews/MovieService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>